* { margin: 0; padding: 0; box-sizing: border-box; /*border: 1px solid #000;*/ }

/* 좌측 UI */
#ui { position: absolute; left: 5%; width: 400px; height: 800px; top: 45%; transform: translateY(-50%); }

/* UI 내부 시간 설정 */
#time { width: 100px; }
#input-time { width: 90%; height: 50px; padding: 5px 10px; font-size: 1.1em; }
#input-alarm { width: 30px; height: 30px; margin-top: 30px; }

/* 메인 캔버스 */
#timer-box { width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; }
#timer { border: 1px solid #000; }
#remain-time { position: absolute; top: 100px; }
#controlbox { position: absolute; bottom: 100px; }

